*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
nav{
    width: 60vh;
    height: 10vh;
    font-size: 2vw;
    padding: 2vw 0vw;
    margin-bottom: 2vw;
    margin-left: 40vw;
    color: #ff735c;
}
.north h2{
    padding: .3vw 1vw;
    margin: 0vw 1vw;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 1vw;
    width: 18vw;
    text-align: center;

    color: #ff735c;

}
.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 25vw ;
    width: 17vw;
    background-color:#fc92829d;
    margin: 2vw 3vw;
    border-radius: 1vw;
}
.card img{
    width:16vw;
    height:10vw ;
    border-radius: 1vw;
    margin: 1vw .5vw;
}
.card h3{
    padding: 0px 1vw;
}
.card p{
    padding: 1vw 1vw;
    height: 7vw;
}
.card button{
    font-size: 1.3vw;
    width: 8vw;
    text-align: center;
    margin: 1vw 4vw;
    border-radius: 1vw;
    background-color: white;
    font-weight: 500;
}
.card button a{
    text-decoration: none;
    color: black;
}